body {
    padding: 50px;
}

h1 {
    margin: 50px 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.check_form,
.check_form2 {
    margin-top: 20px;
}

.check_form input,
.check_form2 input,
.radio_form input {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
}

.check_form label {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
    border-radius: 10px;
    background-color: #666;
    color: transparent;
    overflow: hidden;
}

.check_form label::before {
    position: absolute;
    left: 1px;
    top: 1px;
    content: '';
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #fff;
}

.check_form input:checked+label {
    background-color: blue;
}

.check_form input:checked+label::before {
    left: auto;
    right: 1px;
}

.check_form2 label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 5px 0 0;
    background: url(./checkbox/checkbox.png) no-repeat 0 0;
    background-size: 20px;
    content: '';
}

.check_form2 input:checked+label::before {
    background-image: url(./checkbox/checkbox_on.png);
}

.radio_form label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./radio/radio.png) no-repeat 0 0;
    background-size: 20px;
    content: '';
}

.radio_form input:checked+label::before {
    background-image: url(./radio/radio_on.png);
}